.profile_wrapper {
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   padding-top: 40px;
}

.profile_form_wrapper {
    display: flex;
    flex-direction: column;
}

.avatar {
    margin-right: 70px !important;
}

.profile_form {
    width: 320px;
}

.submit_btn {
    margin-right: 15px;
    width: 80px !important;
}